body{
    background-color: #606060;
    color: white;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
}
.center{
   background-color: #000;
   color: white;
   padding: 50px;
   margin: 2px 520px;
}
.pdng{
    margin: 10px;
    font-size: 18px;
}